<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.biggar.biggar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <uses-permission android:name="cn.biggar.biggar.permission.MIPUSH_RECEIVE" />

    <!--小米推送-->
    <permission
        android:name="cn.biggar.biggar.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />

    <application
        android:name=".base.BiggarApplicaticon"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/BaseAppTheme">

        <!--18:9屏幕适配-->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <!--闪屏页-->
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- 用于h5唤起app -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="path"
                    android:pathPrefix="/openwith"
                    android:scheme="biggarapp" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.swochina.videoView.AdWebView"
            android:screenOrientation="portrait" />
        <!--引导页-->
        <activity
            android:name=".activity.GuideActivity"
            android:label="引导页"
            android:screenOrientation="portrait"
            android:theme="@style/GuideTheme" />
        <!--首页-->
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.BrandSpaceActivity"
            android:configChanges="orientation|keyboardHidden|locale"
            android:label="品牌空间"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activity.ForgetPwdActivity"
            android:configChanges="orientation|keyboardHidden|locale"
            android:label="重置密码"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.RegistActivity" />
        <activity
            android:name=".activity.SettingActivity"
            android:configChanges="orientation|keyboardHidden|locale"
            android:label="@string/setting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.update.PushActivity"
            android:configChanges="orientation|keyboardHidden|locale"
            android:label="发布图片"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.update.LinkGoodsActivity"
            android:configChanges="orientation|keyboardHidden|locale"
            android:label="关联商品"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.update.MyStoreActivity"
            android:configChanges="orientation|keyboardHidden|locale"
            android:label="我的比格店"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.update.DistriEarningsActivity"
            android:configChanges="orientation|keyboardHidden|locale"
            android:label="我的收益"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.update.DistriEarningsDateActivity"
            android:configChanges="orientation|keyboardHidden|locale"
            android:label="我的收益"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.update.DistriMemberListActivity"
            android:configChanges="orientation|keyboardHidden|locale"
            android:label="成员列表"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.update.DistriAddMemberActivity"
            android:configChanges="orientation|keyboardHidden|locale"
            android:label="添加成员"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.update.DistributionGoodsActivity"
            android:configChanges="orientation|keyboardHidden|locale"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.MoreMusicActivity"
            android:configChanges="orientation|keyboardHidden|locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MusicSeletActivity"
            android:configChanges="orientation|keyboardHidden|locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WebViewActivity"
            android:configChanges="orientation|keyboardHidden|locale"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddressManageActivity"
            android:configChanges="orientation|keyboardHidden|locale"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.EditInfoActivity" />
        <activity android:name=".activity.AddToAddressActivity" />
        <activity
            android:name=".activity.ImageViewerActivity"
            android:theme="@style/activity.Theme" />
        <activity
            android:name=".activity.EditInputActivity"
            android:configChanges="orientation|keyboardHidden|locale"
            android:label="编辑"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.XieYiActivity"
            android:configChanges="orientation|keyboardHidden|locale"
            android:label="@string/str_xieyi"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.update.FollowActivity"
            android:configChanges="orientation|keyboardHidden|locale"
            android:label="@string/str_focus"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.update.FansActivity"
            android:configChanges="orientation|keyboardHidden|locale"
            android:label="@string/str_fans"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ReleaseSuccessActivity"
            android:configChanges="orientation|keyboardHidden|locale"
            android:label="@string/str_release_success"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyMessageActivity"
            android:configChanges="orientation|keyboardHidden|locale"
            android:label="@string/tv_my_message"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.update.MyMessageDetailActivity"
            android:configChanges="orientation|keyboardHidden|locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FeedbackActivity"
            android:configChanges="orientation|keyboardHidden|locale"
            android:label="@string/str_feed_back"
            android:screenOrientation="portrait" />
        <!--关于我们-->
        <activity android:name=".activity.AboutActivity" />
        <activity
            android:name=".activity.ApplyForTalentActivity"
            android:configChanges="orientation|keyboardHidden|locale"
            android:label="@string/str_apply_for_talent"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.CertificationInfoActivity" />
        <activity
            android:name=".activity.ShareCardActivity"
            android:configChanges="orientation|keyboardHidden|locale"
            android:label="@string/str_card_share"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegisterSucceedActivity"
            android:configChanges="orientation|keyboardHidden|locale"
            android:label="完成注册"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.VerifyPasswordActivity"
            android:configChanges="orientation|keyboardHidden|locale"
            android:label="@string/str_verify_pass"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BindingPhoneOldActivity"
            android:configChanges="orientation|keyboardHidden|locale"
            android:label="@string/str_binding_phone"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EditNewPhoneActivity"
            android:configChanges="orientation|keyboardHidden|locale"
            android:label="@string/str_new_binding_phone"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BindingNewPhoneActivity"
            android:configChanges="orientation|keyboardHidden|locale"
            android:label="@string/str_new_binding_phone"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TposBindingActivity"
            android:configChanges="orientation|keyboardHidden|locale"
            android:label="@string/str_binding_phone"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BusinessCardActivity"
            android:configChanges="orientation|keyboardHidden|locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.update.MyXingbiActivity"
            android:configChanges="orientation|keyboardHidden|locale"
            android:label="我的星币"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.update.MyXingzhiActivity"
            android:configChanges="orientation|keyboardHidden|locale"
            android:label="我的经验值"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.update.MyCardActivity"
            android:configChanges="orientation|keyboardHidden|locale"
            android:label="我的卡包"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.update.MyLingqianActivity"
            android:configChanges="orientation|keyboardHidden|locale"
            android:label="我的零钱"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.update.BrandListActivity"
            android:configChanges="orientation|keyboardHidden|locale"
            android:label="商城"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.update.MyOrderActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.update.OrderDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.update.AddAddressActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.update.MyHomeActivity"
            android:configChanges="orientation|keyboardHidden|locale"
            android:label="个人中心"
            android:screenOrientation="portrait" />

        <!--我的任务-->
        <activity android:name=".activity.update.MyTaskActivity" />
        <!--我的任务详情-->
        <activity android:name=".activity.update.MyTaskDetailsActivity" />
        <!--购买星币-->
        <activity android:name=".activity.update.BuyStarActivity" />
        <!--图片视频详情-->
        <activity
            android:name=".activity.update.ContentDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".activity.update.SearchActivity"
            android:windowSoftInputMode="stateAlwaysVisible|adjustPan" />
        <activity android:name=".activity.update.MyFriendActivity" />
        <activity android:name=".activity.update.SearchResultActivity" />

        <!--会话界面-->
        <activity
            android:name=".activity.update.ChatActivity"
            android:configChanges="orientation|keyboardHidden|locale"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="cn.biggar.biggar"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>

        <!--会话列表-->
        <activity
            android:name=".activity.update.ChatListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="cn.biggar.biggar"
                    android:pathPrefix="/conversationlist"
                    android:scheme="rong" />
            </intent-filter>
        </activity>

        <activity
            android:name="cn.biggar.biggar.wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wxb28681563b0f6874" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.biggar.biggar.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />


        <!-- ************************************* 进程保活 start ********************************************** -->

        <!-- ************************************* 进程保活 end ********************************************** -->


        <!-- **************** 7.0 适配 ***************** -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="cn.biggar.biggar.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/rc_file_path" />
        </provider>

        <provider
            android:name=".utils.MyFileProvider"
            android:authorities="cn.biggar.biggar.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!-- **************** 7.0 适配 ***************** -->

        <!-- 融云 -->
        <receiver
            android:name=".receiver.BGNotificationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="io.rong.push.intent.MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MESSAGE_CLICKED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_CLICKED" />
            </intent-filter>
        </receiver>

        <!--*********************** 华为推送 start *********************************-->
        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="10709882" />

        <activity
            android:name="com.huawei.hms.activity.BridgeActivity"
            android:configChanges="orientation|locale|screenSize|layoutDirection|fontScale"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent">
            <meta-data
                android:name="hwc-theme"
                android:value="androidhwext:style/Theme.Emui.Translucent" />
        </activity>

        <provider
            android:name="com.huawei.hms.update.provider.UpdateProvider"
            android:authorities="cn.biggar.biggar.hms.update.provider"
            android:exported="false"
            android:grantUriPermissions="true"></provider>
        <!-- 第三方相关 :接收Push消息（注册、Push消息、Push连接状态）广播 -->
        <receiver android:name="io.rong.push.platform.HMSReceiver">
            <intent-filter>
                <!-- 必须,用于接收token -->
                <action android:name="com.huawei.android.push.intent.REGISTRATION" />
                <!-- 必须，用于接收消息 -->
                <action android:name="com.huawei.android.push.intent.RECEIVE" />
                <!-- 可选，用于点击通知栏或通知栏上的按钮后触发onEvent回调 -->
                <action android:name="com.huawei.android.push.intent.CLICK" />
                <!-- 可选，查看push通道是否连接，不查看则不需要 -->
                <action android:name="com.huawei.intent.action.PUSH_STATE" />
            </intent-filter>
        </receiver>
        <!-- 接收通道发来的通知栏消息-->
        <receiver android:name="com.huawei.hms.support.api.push.PushEventReceiver">
            <intent-filter>

                <!-- 接收通道发来的通知栏消息，兼容老版本Push -->
                <action android:name="com.huawei.intent.action.PUSH" />
            </intent-filter>
        </receiver>

        <!--*********************** 华为推送 end *********************************-->


        <!-- ************************ 小米推送 start ************************************-->
        <service
            android:name="com.xiaomi.push.service.XMPushService"
            android:enabled="true" />
        <service
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.xiaomi.mipush.sdk.MessageHandleService"
            android:enabled="true" />

        <service
            android:name="com.xiaomi.push.service.XMJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.xiaomi.push.service.receivers.PingReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="io.rong.push.platform.MiMessageReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>
        <!-- ************************ 小米推送 end ************************************-->


        <!--百度地图-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="PSRXbHizuVOQhCvsPhwy40PpCnqqY6NV" />

        <activity android:name=".activity.update.MapShopDetailActivity" />
        <activity android:name=".activity.update.MapNavigationActivity" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <!--高德地图-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="3c6a73fa0947133d583916d33a909120" />

        <!--崩溃收集-->
        <meta-data
            android:name="BUG_HD_SDK_GENERAL_KEY"
            android:value="c7680765ea350a9eeab88201342772ac" />

        <!-- 友盟 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="572bfe7d67e58ebb40000737" />
        <!-- 分发 -->
        <meta-data
            android:name="NinegorAppId"
            android:value="4b6e8877dfcc2462bedb37dcf66b6d87" />

        <!--QQ精简版1-->
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent101366788" />
            </intent-filter>
        </activity>

        <!--QQ精简版2-->
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!--新浪1-->
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!--新浪2-->
        <activity
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <!-- 极光推送 -->
        <receiver
            android:name=".receiver.JPushReceiver"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" />
                <!-- Optional 用户接受Rich Push Javascript 回调函数的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="cn.biggar.biggar" />
            </intent-filter>
        </receiver>

    </application>

</manifest>